# Settings

# Anything else than "dev" means production mode
RS_MODE=dev
RS_PORT=8080
# Routes under this will be under proxy
RS_API_PREFIX=/api

# Database
RS_DB_HOST=0.1.2.3
RS_DB_PORT=5432
RS_DB_NAME=db_name_here
RS_DB_USER=db_user_here
RS_DB_PASSWORD=db_pswd_here